backend/.venv/
backend/__pycache__/
backend/.env
frontend/node_modules/
frontend/dist/
frontend/.env
*.pyc
backend/.idea/
backend/app/__pycache__/
.claude/settings.local.json
CLAUDE.md
.claude/agents/engineering-security-engineer.md
.claude/analize/concurrent-wondering-lighthouse.md
.claude/agents/engineering-frontend-developer.md
.claude/agents/engineering-mobile-app-builder.md
.claude/analize/refactored-churning-volcano.md
